h1 {
	text-align: center;
}

/* Table stuff */
#tablewrapper {
	width: 90%;
	margin: 0px auto;
}

#filterlabel {
	display:table-cell;
	width:1px;
}

#filter {
	display:table-cell;
	width:100%
}

#filterwrapper {
	display: table;
	width: 100%;
}

table {
	border-left: 2px solid #eceeef;
	border-right: 2px solid #eceeef;
}

td {
	text-align: left;
}

.clickable {
	cursor: pointer;
	user-select: none;
}

label {
	padding: 12px;
	padding-left: 0px;
}

.tbodytable-striped thead, .tbodytable-striped tbody:nth-of-type(even) {
	background: #f0f0f0;
}

tr.clickable:hover {
	background: #f8f8f8;
}

.tbodytable * tr:last-of-type td {
	padding: 0px !important;
}

.tbodytable * tr:last-of-type td div {
	transition: max-height 0.2s ease-out;
	max-height: 200px;
	padding-left: 10.5px;
	overflow: hidden;
}

.tbodytable *.accordion tr:last-of-type td div {
	max-height: 0px;
}

.divslider div {
	width: 100%;
	position: relative;
}

.divslider div .switch {
	position: absolute;
	top: 12px;
	right: 12px;
}

.tbodytable * tr:last-of-type td div.divslider div:last-of-type {
	max-height: 0px;
}

.sort-indicator {
	display: inline-block;
	width: 0;
	height: 0;
	position: relative;
	top:-3px;
	border-top: 4px solid black;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 0;
}
.sort-desc {
	border-top: 0;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 4px solid black;
}

.sort-asc {
	border-top: 4px solid black;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 0;
}

.formbox form input[type=submit], .formbox form input[type=reset] {
	float: right;
	position: relative;
	bottom: 10px;
	margin: 10px;
}

/* Login stuff */
#login {
    padding-top: 50px;
}
#login .form-wrap {
    width: 100%;
    margin: 0 auto;
}
#login h1 {
    color: #2980b9;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #2980b9;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}
