h1 {
	text-align: center;
}

#tablewrapper {
	text-align: center;
	width: 90%;
}

#filterlabel {
	display:table-cell;
	width:1px;
}

#filter {
	display:table-cell;
	width:100%
}

#filterwrapper {
	display: table;
	width: 100%;
}

#table {
	width: 100%;
}

td {
	text-align: left;
}

tr.clickable {
	cursor: pointer;
}

label {
	padding: 12px;
}

.acontent.hidden {
	height: 0px !important;
}

tr td {
	border-top: 0px !important;
}

.accordion.hidden td {
	padding: 0px !important;
}

.accordion td {
	padding: 12px !important;
}

.acontent {
	overflow: hidden;
	transition: height 1s;
}

