h1 {
	text-align: center;
}

#tablewrapper {
	width: 90%;
	margin: 0px auto;
}

#filterlabel {
	display:table-cell;
	width:1px;
}

#filter {
	display:table-cell;
	width:100%
}

#filterwrapper {
	display: table;
	width: 100%;
}

table {
	border-left: 2px solid #eceeef;
	border-right: 2px solid #eceeef;
}

td {
	text-align: left;
}

.clickable {
	cursor: pointer;
	user-select: none;
}

label {
	padding: 12px;
	padding-left: 0px;
}

.tbodytable-striped thead, .tbodytable-striped tbody:nth-of-type(even) {
	background: #f0f0f0;
}

tr.clickable:hover {
	background: #f8f8f8;
}

.tbodytable * tr:last-of-type td {
	padding: 0px !important;
}

.tbodytable * tr:last-of-type td div {
	transition: max-height 0.5s ease-out;
	atransition: padding 0.5s ease-in;
	max-height: 200px;
	padding-left: 10.5px;
	overflow: hidden;
}

.tbodytable *.accordion tr:last-of-type td div {
	max-height: 0px;
}

.sort-indicator {
	display: inline-block;
	width: 0;
	height: 0;
	position: relative;
	top:-3px;
	border-top: 4px solid black;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 0;
}
.sort-desc {
	border-top: 0;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 4px solid black;
}

.sort-asc {
	border-top: 4px solid black;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 0;
}

.formbox form input[type=submit], .formbox form input[type=reset] {
	float: right;
	position: relative;
	bottom: 10px;
	margin: 10px;
}
