		@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');
.vboxLeft{

}

#card-shadow {
box-shadow: 0px 0px 3px #d2d2d2;
border-radius: 0px;
}
#tableKomp {
	border-spacing: 5px;
}

#tableKomp th, #tableKomp td {
	padding:15px;
}
	
.table thead th{
	border-top: none;
}

.btn-primary:hover {
	background-color: #2c3e50 !important;
	border-color: #2c3e50 !important;
}

.btn-primary {
	background-color: #2980b9 !important;
	border-color: #2980b9 !important;
}

.short-div {
	height: 32px;
}
	